/* #CardMedia {
    width: 500px;
    height: 100px;
}

#CardActionArea {
    display: flex;
    justify-content: center;
} */

/* card{
    background-image: url("https://web.dragonball-api.com/images-compress/89980.webp");
} */
b {
    font-weight: bold;
    color: white;
}